[Unit]
Description=Block all wireless radios
DefaultDependencies=no
Before=network-pre.target
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill block all
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
